.nice-md-local-history .ant-modal-body {
    display: flex;
    height: calc(100vh - 112px);
}

.nice-md-local-history .CodeMirror-merge,
.nice-md-local-history .CodeMirror-merge .CodeMirror {
    height: calc(100vh - 216px);
}

.nice-md-local-history .CodeMirror-merge-copy {
    display: none;
}

.nice-md-local-history-preview {
    width: 100%;
    max-width: 800px;
}

.nice-md-local-history-btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}
.nice-md-local-history-btn-group button {
    margin: 25px 10px;
}

.nice-md-local-history-btn-group button:last-child {
    margin-right: 0;
}

.nice-md-local-history-nav {
    width: 256px;
    flex: 0 0 auto;
    background: #fff;
    border-radius: 4px 0 0 4px;
    position: relative;
    overflow-y: auto;
}

.nice-md-local-history-nav .ant-list-item {
    border-bottom: 0;
    padding: 17px 24px;
}