.nice-btn-copy {
  height: 30px;
}

.nice-btn-copy button {
  height: 30px;
}

.nice-btn-copy-theme-item {
  display: flex;
  justify-content: space-between;
}

.nice-btn-copy-menu-item {
  clear: both;
  margin: 0;
  padding: 5px 12px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
}