/*自定义样式，恢复预设值，实时生效*/

/*全局属性*/
.layout {
}

/*段落*/
p {
}

/*一级标题*/
h1 {
  color:rgb(239, 112, 96);
  text-align: center;
}

/*一级标题内容*/
h1 span {
}

/*一级标题修饰*/
h1:after {
}

/*二级标题*/
h2 {
  color:rgb(239, 112, 96);
  text-align: center;
}

/*二级标题内容*/
h2 span {
}

/*二级标题修饰*/
h2:after {
}

/*三级标题*/
h3 {
  color:rgb(239, 112, 96);
  text-align: center;
}

/*三级标题内容*/
h3 span {
}

/*三级标题修饰*/
h3:after {
}

/*四级标题*/
h4 {
  color:rgb(239, 112, 96);
  text-align: center;
}

/*四级标题内容*/
h4 span {
}

/*四级标题修饰*/
h4:after {
}

/*五级标题*/
h5 {
  color:rgb(239, 112, 96);
  text-align: center;
}

/*五级标题内容*/
h5 span {
}

/*五级标题修饰*/
h5:after {
}

/*六级标题*/
h6 {
  color:rgb(239, 112, 96);
  text-align: center;
}

/*六级标题内容*/
h6 span {
}

/*六级标题修饰*/
h6:after {
}

/*无序列表*/
ul {
}

/*有序列表*/
ol {
}

/*列表内容*/
li {
}

/*代码块*/
pre {
}

/*代码块内代码*/
pre code {
}

/*代码块内文字*/
pre code span {
}

/*行内代码*/
code {
}

/*行内代码文字*/
code span {
}

/*引用*/
blockquote {
}

/*引用文字*/
blockquote p {
}

/*链接*/
a {
}

/*加粗*/
strong {
}

/*斜体*/
em {
}

/*加粗斜体*/
strong em {
}

/*删除线*/
del {
}

/*分隔线*/
hr {
}

/*图片*/
img {
  /* margin: 0 auto; */ /*水平居中*/
  /* margin:0 0; */ /*水平居左*/
}

/*图片描述文字*/
figcaption {
  /* text-align: center; */ /*水平居中*/
  /* text-align:left;  */ /*水平居左*/
}

/*表格*/
table {
}

/*表头*/
thead {
}

/*表体*/
tbody {
}

/*表格行*/
table tr {
}

/*表格间隔行*/
table tr:nth-child(2n) {
}

/*表头格子*/
table tr th {
}

/*表体格子*/
table tr td {
}
