.nice-btn-login {
  border: none;
  width: 20px;
  height: 20px;
}

.nice-btn-login-icon {
  width: 20px;
  height: 20px;
}

.nice-username {
  color: #333;
  font-size: 14px;
  padding: 8px 10px;
  cursor: pointer;
}
