.App {
  height: 100vh;
  display:flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my style */
.navi-bar{
  display:flex;
  justify-content: space-between;
}

.text-container{
  display: flex;
  justify-content: center;
  height: 93vh;
  margin:20px 10px;
}
.text-box{
  flex:1;
  width:50%;
  margin:10px;
  height: 93vh;
  word-wrap: break-word; 
}
.divide-bar{
  width:8px;
  height:100%;
  border-left: 1px solid rgba(218,218,218,0.5)
}

#marked-text{
  /* flex:auto;  */
  overflow-y: scroll;
}
